html,
body {
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 840px;
  height: 840px;
  border: solid black;
}

.grid div {
  width: 30px;
  height: 30px;
}

.pac-dot {
  background-color: green;
  border: 10px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 15px;
}

.pacman {
  background-image: url("image/joop.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.left {
  transform: scaleX(-1);
}

.blinky {
  background-color: red;
  border: none;
}

.pinky {
  background-color: pink;
  border: none;
}

.inky {
  background-color: aqua;
  border: none;
}

.clyde {
  background-color: orange;
  border: none;
}

.scared-ghost {
  background-color: aquamarine;
  border: none;
}
